body {
    background-colour: lightblue;
    text-aligin: center;
    font-family: Arial;
}
h1 {
    color: darkblue:
}
p {
    color: green;
    font-size: 18px;
body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: darkblue;
    font-size: 40px;
}

p {
    color: green;
    font-size: 22px;
}
body {
    background-color: pink;
}
h1 {
    color: purple;
}
p {
    font-size: 30px;
}
}
}
}